@import "../../../styles/variables/colors.scss";
.breadcrumb{
	padding: 0;
	margin-bottom: 0;
	display: inline-flex;
}

.navbar{
	flex-direction: row;

	.navbar-brand{
		flex: 1 0 0;
	}

	.header-content{
		flex: 3 0 0;
	}

	.login-panel{
		float: right;

		button{
			cursor: pointer;
		}
	}
}
