<div class="home-page">
	<toolbox [(searchText)]="searchText"></toolbox>
	<div *ngIf="count > 0" class="todo-list" >
		<course *ngFor="let course of courses | orderBy:'date'" (courseDeleted)="handleCourseDeleted($event)" [course]="course"></course>

		<nav>
  			<ul class="pagination">
    			<li class="page-item" [ngClass]="{disabled: page == 1}" >
      				<a class="page-link" href="#" tabindex="-1" (click)="loadPage(-1)">Previous</a>
    			</li>
    			<li class="page-item" [ngClass]="{disabled: isLastPage}">
      				<a class="page-link" href="#" (click)="loadPage(1)">Next</a>
    			</li>
  			</ul>
		</nav>
	</div>
	<div *ngIf="count === 0" class="alert alert-info" role="alert">
  		<strong>No data!</strong> Feel free to add new course.
	</div>
</div>